/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Hero Section */
.hero {
  position: relative;
  min-height: 100vh;
  /* background: linear-gradient(to right, #4e54c8, #8f94fb); */
  background-color: var(--bgg-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 20px;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-overlay {
  width: 100%;
  max-width: 960px;
  animation: fadeIn 1.2s ease-out;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.2;
}

.hero-content h1 span {
  color: #ffd700;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 32px;
  /* color: #e0e0e0; */
  color: var(--text-color);
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.btn {
  padding: 14px 28px;
  background-color: var(--accent-color);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.primary {
  background-color: #ffffff;
  color: #4e54c8;
}

.primary:hover {
  /* background-color: #e2e2e2; */
  background-color: var(--hover-color);
}

.secondary {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: var(--text-color);
}

.secondary:hover {
  background-color: rgba(255,255,255,0.1);
}

.highlight {
  /* color: var(--accent-color); */
  background: linear-gradient(to right,#ff1493, #8a2be2);
  color: transparent;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}

.typewriter-text {
  font-size: 4rem;
  color: var(--text-color);
  margin-top: 10px;
  font-weight: 500;
  min-height: 40px;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
