
 .App{
  background-color: var(--bgg-color);
 }
 .heading{
  /* align-items: center;
  padding-left: 400px; */
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--text-color);
  /* text-shadow: 1px 1px 5px #4f05a2; */
 } 

.vertical-timeline-element-title{
  font-size: 2rem;
  font-weight: bold;
  
}