
*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  
  font-family: 'outfit';
  background-color: #f9f9f9;
  /* background: rgb(6,0,0);
  background: radial-gradient(circle, rgba(6,0,0,1) 0%, rgba(9,9,9,1) 77%, rgba(87,61,159,1) 100%); */
  /* background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsla(161, 71%, 11%, 0.897) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsla(274, 59%, 60%, 0.745) 0, transparent 55%); */
}
html{
  scroll-behavior: smooth;
}

:root {
  --bg-color: #f9f9f9;
  --bgg-color:#f1e8cf;
  --text-color: #1a1a1a;
  --logo-color:#1a1a1a;
  --accent-color: #4e54c8;
  --hover-color: #3f89ff;
  --card-bg: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.08);
  --aboutext-color:rgb(40, 225, 228);
}

[data-theme='dark'] {
  --bg-color: #121212;
  --bgg-color: #121212;
  --text-color: #eaeaea;
  --accent-color: #ffd700;
  --logo-color: #ffd700;
  --hover-color: #ffb400;
  --card-bg: #1e1e1e;
  --shadow-color: rgba(255, 255, 255, 0.05);
  --aboutext-color:White;
}