*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  color: white;
  font-family: 'outfit';
  background: rgb(6,0,0);
  background: radial-gradient(circle, rgba(6,0,0,1) 0%, rgba(9,9,9,1) 77%, rgba(87,61,159,1) 100%);
}