.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 670px;
  width: 65vh;
  height: 5vh;
  font-size: 20px;
  gap: 60px;
}


.nav_menu{
  display: flex;
  align-items:flex-end;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}