.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 670px;
  width: 65vh;
  height: 5vh;
  font-size: 20px;
  gap: 60px;
  padding: 20px;
  background:black;
  backdrop-filter:blur(10px);
  border-radius: 30px;
  
} 



.nav_menu{
  display: flex;
  align-items:flex-end;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  
}